{% extends 'movies/base.html' %}
{% block header %} bg1 {% endblock %}

{% block movie %}     <div class="left-ads-display col-lg-9">
    <div class="row">
        {% for movie in movie_list %}
            <div class="col-md-4 product-men">
                <div class="product-shoe-info editContent text-center mt-lg-4" >
                    <div class="men-thumb-item">
                        <img src="{{ movie.poster.url }}" class="img-fluid" alt="" >
                    </div>
                    <div class="item-info-product">
                        <h4 class="">
                            <a href="{{ movie.get_absolute_url }}" class="editContent" >
                                {{ movie.title }}
                            </a>
                        </h4>
                        <div class="product_price">
                            <div class="grid-price">
                                <span class="money editContent" >{{ movie.tagline }}</span>
                            </div>
                        </div>
                        <ul class="stars">
                            <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                            <li><a href="#"><span class="fa fa-star" aria-hidden="true" ></span></a></li>
                            <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                            <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true" ></span></a></li>
                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true" ></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock movie %}


<ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
        <a href="index.html" class="editContent">Home</a>
    </li>
    <li class="breadcrumb-item active editContent">Single Page</li>
</ol>



<div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Design by
                        <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
                    </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
                    <!-- //move top icon -->
                </div>
            </div>
        </div>
